<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>我的页面 Mypage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="http://mobilcms.sinaapp.com/templates/favicon.ico">
        <link rel="icon" type="image/gif" href="http://mobilcms.sinaapp.com/templates/animated_favicon1.gif">
        
        <link rel="stylesheet" href="http://mobilcms.sinaapp.com/templates/libs/bootstrap/css/bootstrap.min.css">

        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="http://mobilcms.sinaapp.com/templates/libs/bootstrap/css/bootstrap-theme.min.css">
        
        
        
        
        <!--加载那个css的icon的素材-->
        <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">-->

        <!-- 引用按钮插件样式 -->
        <link rel="stylesheet" href="http://mobilcms.sinaapp.com/templates/libs/buttons/buttons_1.css">
        
        
        <!-- 自定义的样式 -->
        <link rel="stylesheet" href="http://mobilcms.sinaapp.com/templates/css/index.css">
        
        <!--加载phonegap-->
        <phonegap></phonegap>
        
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/jquery.min.js"></script>
        <!-- cookie插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/jquery.cookie.js"></script>
        <!-- form插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/jquery.form.js"></script>
        <!-- 引用按钮插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/buttons/buttons.js"></script>
        <!-- 加载插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/spin.min.js"></script>
        <!-- 选择框插件 -->
        <link href="http://mobilcms.sinaapp.com/templates/libs/icheck/flat/_all.css" rel="stylesheet">
        <script src="http://mobilcms.sinaapp.com/templates/libs/icheck/icheck.min.js"></script>
        <!-- 图片放大插件lightbox -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/lightbox/js/lightbox.min.js"></script>
        <link href="http://mobilcms.sinaapp.com/templates/libs/lightbox/css/lightbox.css" rel="stylesheet" />
        <!-- ios风格提示插件 -->
        <link rel="stylesheet" href="http://mobilcms.sinaapp.com/templates/libs/iosoverlay/iosOverlay.css">
        <script src="http://mobilcms.sinaapp.com/templates/libs/iosoverlay/iosOverlay.js"></script>
        <!-- 图片加载插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/imagesloaded.pkgd.min.js"></script>
        <!-- 文字域自动增长 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/autosize.min.js"></script>
        <!-- 加入生成二维码插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/jquery.qrcode.min.js"></script>
        <!-- 加入changmo插件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/changmo.js"></script>
        
        
        <!-- 引入js的api -->
        <!--<script src="http://channel.sinaapp.com/api.js"></script>-->
        <script>
            if(!window.sessionStorage){  
                alert("对不起！您的浏览器太弱啦！请用高端点的~或者您可以试下调高速模式~");
             }
             if(localStorage.tkid){
                 sessionStorage.tkid=localStorage.tkid;
             }
//             var link_url="../link.php?";
             var link_url="http://mobilcms.sinaapp.com/link.php?";
             var link_url_i="http://www.myinspi.com/";
             
             
        </script>
        
        
        
        <script src="http://mobilcms.sinaapp.com/templates/js/phone.js"></script>
        <script src="http://mobilcms.sinaapp.com/templates/js/header.js"></script>
        <script src="http://mobilcms.sinaapp.com/templates/js/regex.js"></script>
        
        <script src="http://mobilcms.sinaapp.com/templates/js/register.js"></script>
        <script src="http://mobilcms.sinaapp.com/templates/js/send.js"></script>
        <script src="http://mobilcms.sinaapp.com/templates/js/get.js"></script>
        
        
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://mobilcms.sinaapp.com/templates/libs/bootstrap/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        
        
        
        <!--中间主要内容-->
        <div id="tab1"></div><!--定位最高点-->
        <div class="col-md-12 bgt sell_top"><h2>Show Mypage to every one</h2></div>
        <p>&nbsp;</p>
        <div class="col-md-12">
            
            
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            
                
                <!--中间内容这里开始-->
                <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-2"></div>
                <div class="col-xs-10 col-sm-8 col-md-8">
                <div id="loginbox" class="row">
                <h4>注册登录 login</h4>
                <div class="form-group">
                    <label for="exampleInputEmail1">邮件地址 Email</label>
                <input id="username" type="email" class="form-control" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label id="wpsw" for="exampleInputPassword1">密码 Passwords</label>
                <input id="password" type="password" class="form-control" placeholder="Password">
              </div>
                <div id="rpsw" class="form-group">
                <label for="exampleInputPassword1">再次输入密码 Repasswords</label>
                <input id="repassword" type="password" class="form-control" placeholder="Repassword">
              </div>
               <div id="ackey" class="form-group">
                <label for="exampleInputPassword1">邀请码 Accept key</label>
                <input id="key" type="text" class="form-control" placeholder="Accept key">
               </div> 
                <div id="forgetwarning">
                <br />
                <p><i class="warning">注意：</i>点击发送以后系统会自动向您的邮箱发送一封带有token码的邮件，只要点击链接就可以成功修改密码！</p>
                <p><i class="warning">Note:</i>The system will automatically send an email with the token code to your mailbox after you click Send, just click on the link you can successfully change the password!</p>
                 
                    </div>
                <div id="loreg">
                <button type="submit" id="goregister" class="button button-rounded button-small goregister">注册 register</button> 
                <button type="submit" id="toregister" class="button button-rounded button-small goregister">注册 register</button> 
                 &nbsp; &nbsp; &nbsp;
                 <button id="login" type="button" data-loading-text="正在登录login..." class="button button-rounded button-small">登录 login</button>
                 &nbsp; &nbsp; &nbsp;
                 <label>
                    <input id="keeplogin" type="checkbox" checked>&nbsp;记住登录 keep passwords
                  </label>
                 <a id="showrepsw" href="#" class="pull-right">忘记密码 forgot password</a>
                 </div>
                <div id="forget">
                <button type="submit" id="gologin" class="button button-rounded button-small goregister">返回登录 return</button> 
                 &nbsp; &nbsp; &nbsp;
                 <button id="sentpsw" type="button" data-loading-text="正在发送send..." class="button button-rounded button-small">发送 send</button>
                 &nbsp; &nbsp; &nbsp;
                 </div>
                 
                
                
                    
                    
                    
                    
                    
          </div>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-2"></div>
            </div>
                <div id="send">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3>文字 Contents：</h3>
                            <textarea id="send_text" class="form-control" rows="3"></textarea>
                            <input id="linknum" type="hidden" />
                            
                            <p> </p>
                            
                            <a href="javascript:;" onclick="cameraPic();" class="button button-circle button-primary"><span class="glyphicon glyphicon-camera"></span></a>
                            &nbsp;
                            <a href="javascript:;" onclick="getPic(pictureSource.PHOTOLIBRARY);" class="button button-circle button-primary"><span class="glyphicon glyphicon-picture"></span></a>
                            &nbsp;
                            <a href="javascript:;" onclick="" class="button button-circle button-royal"><span class="glyphicon glyphicon-film"></span></a>
                            &nbsp;
                            <a href="javascript:;" class="button button-circle button-action"><span class="glyphicon glyphicon-music"></span></a>
                            &nbsp;
                            <a class="button button-circle" data-toggle="collapse" href="#collapseCH" aria-expanded="false" aria-controls="collapseCH">颜</a>
                            
                            <p class="collapse gray" id="collapseCH"><small>功能还在实验当中，目前可以用以下公式实现c[需要替换的字符串,替换的字符串,周期]，例如：c[<(￣︶￣)>,~(￣▽￣)~,500];发送就可以，快试试吧！
                            <br />Which is still experimental, can now use the following formula to achieve c [string needs to be replaced, the replacement string, period], for example: c[<(￣︶￣)>,~(￣▽￣)~,500]; can be sent, try it soon!</small></p>
                            
                            
                        <dd>
                            <!--<button onclick="cameraPic();" class="button button-tiny button-rounded button-flat">拍照上传 Photograph</button>&nbsp;&nbsp;-->
                            <!--<button onclick="getPic(pictureSource.PHOTOLIBRARY);" class="button button-tiny button-rounded button-flat">上传图片 Upload pictures</button>-->
                            <p>&nbsp;</p>
                            <div id="m_pic_show"></div>
                        </dd>
                        <div class="modal-footer">
                          <button onclick="$('#send').slideToggle('fast')" type="button" class="button button-rounded button-small" data-dismiss="modal">关闭 Close</button>
                        &nbsp;&nbsp;
                          <button id="my_send" type="button" class="button button-primary button-rounded button-small" data-dismiss="modal">提交 Submit</button>
                      </div>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                <div id="main">
                <div class="row">
                <div class="center-block">
                    <!--<span class="center-block" id="foo" style="width:100px; height:200px;"></span>-->
                    <!--<div class="col-md-12"><span class="center-block" id="foo" style="width:100px; height:200px; margin-left:100px;"></span></div>-->
                    
                    <div id='show_mysell_first'></div>
                    <div id='show_mysell'></div>
<!--                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <p><small class="gray">2014.11.11 23:11:56</small></p>
                            <p>今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不
                                <span class="collapse" id="collapse1">错哦！！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！</span>
                            </p>
                            <p>
                            <a class="gray" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            more
                          </a>
                          
                            </p>
                            
                      </div>
                      
                      <img name="" src="http://freetofind-main.stor.sinaapp.com/tu.jpg" width="500" height="500" class="img-rounded" alt="" />
                      
                    </div>
                  </div>-->
                    
                </div>
                </div>
                
                
                <!--中间内容这里结束-->
                </div>
            </div>
            <div class="col-md-2"></div>
                
        </div>
            </div>
        
        
        
        <div> 
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p align="center" class="center-block">Made by Leehow</p>
            <p align="center" class="center-block">Email:leeehow@gmail.com</p>
        </div>
        <div class="gototop">
            
            <div class="pull-right">
                <ul class="list-unstyled" style="display: none;" onclick="hide_right_menu();" id="right_menu">
                    <li><a id="take_photo" onclick="cameraPic();show_send();" href="javascript:;" class="button button-circle glow button-primary"><span class="glyphicon glyphicon-camera"></span></a></li>
                <li>&nbsp;</li>
                <li><a href="javascript:;" onclick="show_send()" class="button button-circle"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li>&nbsp;</li>
                <li><a onclick="window.location.reload();" href="javascript:;" class="button button-circle"><span class="glyphicon glyphicon-repeat"></span></a></li>
                <li>&nbsp;</li>
                <li><a id="logout" href="javascript:;" class="button button-circle"><span class="glyphicon glyphicon-log-out"></span></a></li>
                <li>&nbsp;</li>
                    </ul>
                <ul class="list-unstyled">
                    <li><a onclick="show_right_menu();" id="list_rightmenu" href="javascript:;" class="button button-circle"><span class="glyphicon glyphicon-th-list"></span></a></li>
                <li>&nbsp;</li>
                <li><a id="gototop" href="javascript:;" class="button button-circle"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
              </ul>
<!--                <ul class="list-unstyled" style="display: none;" onclick="hide_right_menu();" id="right_menu">
                <li><a id="take_photo" onclick="cameraPic();show_send();" href="javascript:;" class="button glow button-flat-primary button-pill btn-xs"><span class="glyphicon glyphicon-camera"></span></a></li>
                <li>&nbsp;</li>
                <li><a href="javascript:;" onclick="show_send()" class="button glow button-flat button-pill btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li>&nbsp;</li>
                <li><a onclick="window.location.reload();" href="javascript:;" class="button glow button-flat button-pill btn-xs"><span class="glyphicon glyphicon-repeat"></span></a></li>
                <li>&nbsp;</li>
                <li><a id="logout" href="javascript:;" class="button glow button-flat button-pill btn-xs"><span class="glyphicon glyphicon-log-out"></span></a></li>
                <li>&nbsp;</li>
                    </ul>
                <ul class="list-unstyled">
                    <li><a onclick="show_right_menu();" id="list_rightmenu" href="javascript:;" class="button button-border-royal button-pill btn-xs"><span class="glyphicon glyphicon-th-list"></span></a></li>
                <li>&nbsp;</li>
                <li><a id="gototop" href="javascript:;" class="button button-border-royal button-pill btn-xs"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
              </ul>-->
            
            
            </div>
            <!--<a id="gototop" href="#tab1" class="button button-border-royal button-pill btn-xs pull-right"><span class="glyphicon glyphicon-arrow-up"></span></a>-->
        </div>
        <!--回到顶部-->
        <!--</div>-->
        <!--中间内容结束-->
    <script src="http://mobilcms.sinaapp.com/templates/js/last.js"></script> 
    </body>
    
</html>
