<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>我的页面</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="./templates/favicon.ico">
        <link rel="icon" type="image/gif" href="./templates/animated_favicon1.gif">
        
        <!-- 自定义的样式 -->
        <link rel="stylesheet" href="./templates/css/index.css">
        
        <!--加载phonegap-->
        <!--<phonegap></phonegap>-->
        
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="./templates/libs/jquery.min.js"></script>
        <!-- 加入changmo插件 -->
        <script src="./templates/libs/changmo.js"></script>
        <!--加入替换插件-->
        <script src="./templates/libs/regex.js"></script>
        
        
        
        <!-- 引入js的api -->
        <!--<script src="http://channel.sinaapp.com/api.js"></script>-->
        <script>
            if(!window.sessionStorage){  
                alert("对不起！您的浏览器太弱啦！请用高端点的~或者您可以试下调高速模式~");
             }
             if(localStorage.tkid){
                 sessionStorage.tkid=localStorage.tkid;
             }
//             var link_url="../link.php?";
             var link_url="./link.php?";
             var link_url_i="YourDominname";
             
             
        </script>
        
        
        
<!--        <script src="./templates/js/phone.js"></script>
        <script src="./templates/js/header.js"></script>-->
        
        
        <script src="./templates/js/register.js"></script>
        <script src="./templates/js/send.js"></script>
        <script src="./templates/js/get.js"></script>
        
        
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="./templates/libs/bootstrap/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    <script src="./templates/js/last.js"></script>
    </body>
    
</html>
